<h1 class="text-center my-3">All restaurants</h1>

<div class="container">
  <div class="mb-3">
    <%= link_to "Create a new restaurant", new_restaurant_path %>
  </div>
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card">
          <div class="card-body">
            <%= render restaurant  %>
            <%= link_to "Restaurant details", restaurant_path(restaurant) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>